/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: $primary-font;
  font-size: $basic-size;
  line-height: $basic-height;
  color: $basic-color;
  background-color: $basic-bg-color;
  margin: 0;
  padding: 0;
}
