/* здесь используйте глобальные переменные */
$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;
$basic-size: 16px;
$basic-height: 20px;
$basic-color: #000000;
$secondary-color: #444444;
$basic-bg-color: #ffffff;
$button-bg-color: #68b738;
