.programs__item {
  position: relative;
  background-color: #f2f2f2;
}

.programs__item::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}

.programs__item--slim::after {
  content: "";
  background-image: url("../../icons/stack.svg#slim-program");
  width: 36px;
  height: 50px;
  display: block;
  position: absolute;
  top: -3px;
  left: 7px;
}

.programs__item--pro::after {
  content: "";
  background-image: url("../../icons/stack.svg#pro-program");
  width: 67px;
  height: 28px;
  display: block;
  position: absolute;
  top: 11px;
  left: -8px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.programs__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color;
}

.programs__button {
  line-height: 16px;
  color: $basic-color;
}

